---
import { getCollection, getEntryBySlug } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import Subheading from '@components/Subheading.astro'

export async function getStaticPaths() {
  const posts = await getCollection('posts')

  return posts.map(({ slug }) => ({ params: { slug } }))
}

const { slug } = Astro.params

const entry = await getEntryBySlug('posts', slug!)

if (!entry) return Astro.redirect('/404')

const { Content } = await entry.render()
---

<Layout
  description={entry.data.description}
  title={entry.data.title}
  type="article"
  url={`${entry.collection}/${entry.slug}`}
>
  <article>
    <h1>{entry.data.title}</h1>
    <Subheading item={entry} />

    <Content />
  </article>
</Layout>
