---
import { getEntryBySlug } from 'astro:content'
import Date from '@components/Date.astro'
import Layout from '@layouts/Layout.astro'
import LinkedHeader from '@components/LinkedHeader.astro'

const { slug } = Astro.params

const entry = await getEntryBySlug('linked', slug!)

if (!entry) return Astro.redirect('/404')

const { Content } = await entry.render()
---

<Layout
  description={`Linked to: ${entry.data.href}`}
  title={entry.data.title}
  type="article"
  url={`${entry.collection}/${entry.slug}`}
>
  <article>
    <h1>
      <a href={entry.data.href}>{entry.data.title}</a>
    </h1>
    <LinkedHeader href={entry.data.href} pubDate={entry.data.pubDate} />
    <Content />
  </article>
</Layout>
