---
import type { CollectionEntry } from 'astro:content'
import LinkedHeader from '@components/LinkedHeader.astro'

interface Props {
  item: CollectionEntry<'linked'>
}

const { item } = Astro.props
const { Content } = await item.render()
---

<>
  <h1><a href={item.data.href}>{item.data.title}</a></h1>
  <LinkedHeader
    pubDate={item.data.pubDate}
    localHref={`${item.collection}/${item.slug}`}
    href={item.data.href}
  />
  <Content />
</>
