---
import type { CollectionEntry } from 'astro:content'
import Date from './Date.astro'

interface Props {
  item: CollectionEntry<'linked'>
}

const { item } = Astro.props
const { Content } = await item.render()
---

<>
  <h1><a href={item.data.href}>{item.data.title}</a></h1>
  <Date date={item.data.pubDate} href={`${item.collection}/${item.slug}`} />
  <Content />
</>
