---
import type { MDLinked } from '../sortAndLimit'
import Date from './Date.astro'

export interface Props {
  item: MDLinked
}

const { item } = Astro.props as Props
---

<>
  <h2><a href={item.frontmatter.href}>{item.frontmatter.title}</a></h2>
  <Date date={item.frontmatter.pubDate} href={item.url} />
  <Fragment set:html={item.compiledContent()} />
</>
