---
import type { CollectionEntry } from 'astro:content'
import Date from './Date.astro'

interface Props {
  item: CollectionEntry<'posts'>
}

const { item } = Astro.props
const { Content } = await item.render()
---

<>
  <h1><a href={`${item.collection}/${item.slug}`}>{item.data.title}</a></h1>
  <Date date={item.data.pubDate} />

  {item.data.description && <p>{item.data.description}</p>}
  {!item.data.description && <Content />}
</>
