---
import type { MDPost } from '../sortAndLimit'
import Date from './Date.astro'

export interface Props {
  item: MDPost
}

const { item } = Astro.props as Props
---

<>
  <h1><a href={item.url}>{item.frontmatter.title}</a></h1>
  <Date date={item.frontmatter.pubDate} />

  {item.frontmatter.description && <p>{item.frontmatter.description}</p>}
  {
    !item.frontmatter.description && (
      <Fragment set:html={item.compiledContent()} />
    )
  }
</>

<style>
  h4 > a {
    text-decoration: none;
  }
</style>
