---
export interface Props {
  description?: string
  title?: string
  type?: 'article' | 'website'
  url?: string
}

import Dots from '@components/Dots.astro'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import { site } from '../constants'

const { description, title, type = 'website', url = '' } = Astro.props as Props

const pageTitle = title ? `${title} - ${site.title}` : site.title
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <title>{pageTitle}</title>
    <meta property="og:title" content={title ?? site.title} />

    <meta name="description" content={description ?? site.description} />
    <meta property="og:description" content={description ?? site.description} />

    <meta property="og:type" content={type} />
    <meta property="og:url" content={`${Astro.site}${url}`} />
    <link rel="canonical" href={`${Astro.site}${url}`} />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@appjeniksaan" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for appjeniksaan.nl"
      href="/feed.xml"
    />
  </head>

  <body>
    <Header />

    <div class="container">
      <slot />

      <Dots />
      <Footer />
    </div>

    <style is:global>
      @import 'open-props/normalize';
      @import 'open-props/media';

      :root {
        --link: var(--text1-light);
        --link-visited: var(--text1-light);
        --highlight-color: var(--blue-5);
      }

      @supports (color: color(display-p3 1 1 1)) {
        :root {
          --highlight-color: color(display-p3 0.2 0.73 1);
          --dark-highlight-color: color(display-p3 0.87 1 0.2);
        }
      }

      body {
        line-height: var(--font-lineheight-4);
        margin: 0;
      }

      article {
        margin-block: var(--size-8);
      }

      :where(p, h1, h2, h3, li, pre, blockquote) {
        max-inline-size: none !important;
      }

      :where(:not(pre) > code) {
        white-space: normal !important;
      }

      h1 {
        font-size: var(--font-size-6);
        margin-block: var(--size-8);
      }

      article h1 {
        margin-block: var(--size-0);
      }

      h2 {
        font-size: var(--font-size-5);
        margin-block: var(--size-8) var(--size-4);
      }

      h3 {
        font-size: var(--font-size-4);
        margin-block: var(--size-4);
      }

      a {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 1px;
        text-decoration-color: var(--highlight-color);
      }

      a:hover {
        color: var(--highlight-color);
      }

      p {
        margin-block-end: var(--size-2);
      }

      img {
        display: block;
        margin: var(--size-4) auto var(--size-6);
        box-shadow: var(--shadow-3);
        border-radius: var(--radius-2);
        max-height: 40rem;
      }

      code {
        font-family: var(--font-mono);
        font-size: var(--font-size-1);
      }

      pre {
        padding: var(--size-3);
        margin-block: var(--size-4) var(--size-6);
        box-shadow: var(--shadow-3);
        border-radius: var(--radius-2);
      }

      .container {
        margin: 0 auto;
        padding: 0 var(--size-3);
        width: 100%;
      }

      footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: var(--size-10);
        text-align: center;
      }

      date {
        display: block;
        font-size: var(--font-size-3);
        font-weight: var(--font-weight-2);
        color: var(--gray-7);
        margin-block-end: var(--size-4);
      }

      @media (--OSdark) {
        :root {
          --highlight-color: var(--yellow-4);
        }

        @supports (color: color(display-p3 1 1 1)) {
          :root {
            --highlight-color: color(display-p3 0.87 1 0.2);
          }
        }

        html {
          --link: var(--text1-dark);
          --link-visited: var(--text1-dark);
        }

        date {
          color: var(--gray-5);
        }
      }

      @media (--lg-n-above) {
        .container {
          width: var(--size-lg);
        }

        footer {
          display: flex;
          text-align: start;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: flex-end;
        }

        footer ul {
          margin-block-end: 0;
        }
      }

      @media (--md-n-below) {
        h1 {
          font-size: var(--font-size-5);
          margin-block: var(--size-8);
        }
      }
    </style>
  </body>
</html>
