---
import Layout from '../layouts/Layout.astro'
import Date from '../components/Date.astro'

const { content } = Astro.props
---

<Layout
  description={`Linked to: ${content.href}`}
  title={content.title}
  type="article"
  url={content.url}
>
  <article>
    <h1>
      <a href={content.href}>
        <span>{content.title}</span>
      </a>
    </h1>
    <Date date={content.pubDate} />

    <slot />
  </article>
</Layout>
