---
import Layout from '../layouts/Layout.astro'
import Date from '../components/Date.astro'

const { content } = Astro.props
---

<Layout
  description={content.description}
  title={content.title}
  type="article"
  url={content.url}
>
  <article>
    <h1>{content.title}</h1>
    <Date date={content.pubDate} />

    <slot />
  </article>
</Layout>
